name: Build

on:
  push:
    branches:
    - main
    - release-*
  pull_request:
    branches:
    - main
    - release-*

env:
  # renovate: datasource=go depName=mvdan.cc/gofumpt
  GOFUMPT_VERSION: v0.3.1
  # renovate: datasource=go depName=github.com/golangci/golangci-lint
  GOLANGCI_LINT_VERSION: v1.46.2

jobs:
  skip-check:
    name: Skip check
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    permissions:
      actions: write
      contents: read
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@9d116fa7e55f295019cfab7e3ab72b478bcf7fdd # tag=v4.0.0
        with:
          do_not_skip: '["schedule", "workflow_dispatch"]'
          paths: |-
            [
              "**.go",
              "**.bpf.c",
              ".github/workflows/build.yml",
              ".go-version",
              "3rdparty",
              "Makefile",
              "go.mod",
              "go.sum"
            ]
          skip_after_successful_duplicate: false

  go-build-test:
    name: Go Build
    runs-on: ubuntu-latest
    needs: skip-check
    if: ${{ needs.skip-check.outputs.should_skip != 'true' }}
    steps:
      - name: Check out the code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Set up Go
        uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a # tag=v3.2.1
        with:
          go-version-file: .go-version
          check-latest: true
          cache: true

      - name: Install LLVM (BPF dependency)
        run: |
          sudo apt-get update -y
          sudo apt-get install -yq llvm-dev libclang-dev

      - name: Install libbpf dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -yq libelf-dev zlib1g-dev

      - name: Build BPF
        run: make bpf

      - name: Initialize and update libbpf submodule
        run: git submodule init && git submodule update

      - name: Build libbpf
        run: make libbpf

      - name: Build
        run: make build

      - name: Test
        run: |
          make test ENABLE_RACE=yes
          # make test/profiler (Needs to be fixed, somehow fails because of generics)

      - name: Format
        run: |
          make format
          git diff --exit-code

      - name: Vet
        run: make vet

      - name: Lint
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # tag=v3.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
